// @use "../base";
@use "../utils/global.scss";
@use "../layouts/navbar";
@use "../sections/hero-section.scss";
@use "../sections/activities-section.scss";
@use "../sections/parallax";
@use "../sections/princing";
@use "../sections/contact";
@use "../layouts/footer";
