@use "../base";

/* Activities section */
.activities-section {
  padding: 0 10px 62px;
  background-image: base.$striped-pinky;
}
.negativ-container {
  transform: translateY(-100px);
  background-color: base.$almond;
  border-radius: 25px;
  padding: 40px 25px 112px;
  position: relative;
  box-shadow: base.$shadow-sm;
  .heading-2 {
    margin-bottom: 60px;
  }
}
.activity {
  &-container {
    max-width: 825px;
    margin: 0 auto;
    min-height: 300px;
    display: flex;
    border-radius: 3px;
    box-shadow: base.$shadow-sm;
    background-image: base.$dark-right;
  }
  &-2 {
    background-image: base.$dark-left;
  }
  &-container:not(.activity-3) {
    margin-bottom: 60px;
  }
  &-container img {
    min-width: 50%;
    padding: 25px;
    object-fit: cover;
  }
  &-description {
    display: flex;
    flex-direction: column;
    padding: 25px;
    color: base.$light-white;
  }
  &-heading {
    font-family: base.$accent-font;
    font-size: base.$fs-20;
    margin-bottom: 10px;
  }
  &-description p {
    line-height: 1.5;
    margin-bottom: 20px;
    color: base.$light-gray;
  }
  &-link {
    margin-top: auto;
    min-width: 150px;
    align-self: flex-start;
    text-decoration: none;
    text-align: center;
    padding: 10px 14px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: base.$fs-14;
    font-weight: 600;
    background-color: base.$light-white;
    color: base.$dark-base;
  }
  &-link:hover {
    background-color: base.$active-light-white;
  }
}

@media (max-width: 768px) {
  .activities-section {
    padding: 0;
  }
  .negativ-container {
    padding: 30px 10px 90px;
    .heading-2 {
      margin-bottom: 32px;
    }
  }
  .activity {
    &-container {
      max-width: 500px;
      flex-wrap: wrap;
    }
    &-2 .activity-description {
      order: 2;
    }
    &-2 img {
      order: 1;
    }
    &-container img {
      width: 100%;
      padding: 24px;
    }
    &-description {
      padding: 0px 24px 24px;
      width: 100%;
    }
  }
}
