@use "../base";

/* section contact */
.contact {
  padding: 120px 10px;
  background-image: url(../assets/images/tradition-japan.jpg);
  background-position: center;
  background-size: cover;
  border-top: base.$dark-thick-border;
}
.rounded-contact {
  margin: 0 auto;
  max-width: 800px;
  background-color: base.$almond;
  padding: 48px 40px 96px;
  border-radius: 24px;
  box-shadow: base.$shadow-sm;
  border: base.$dark-thick-border;
  h2 {
    margin-bottom: 44px;
  }
}
.contact-list {
  max-width: 444px;
  margin: 0 auto;
  img {
    width: 32px;
  }
  li {
    border-radius: 8px;
    list-style-type: none;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: base.$light-orange-pinky;
    border: base.$dark-thick-border;
  }
  li:not(:nth-child(3)) {
    margin-bottom: 16px;
  }
  a,
  span {
    font-size: base.$fs-20;
    color: base.$dark-base;
    font-weight: 700;
  }
}

@media (max-width: 450px) {
  .contact {
    padding: 40px 10px;
    .heading-2 {
      margin-bottom: 40px;
    }
    &-list {
      li {
        padding: 10px;
        a,
        span {
          font-style: base.$fs-14;
        }
      }
      img {
        width: 20px;
      }
    }
  }
  .rounded-contact {
    padding: 30px 20px;
  }
}
